DataLayer.css
.p-slider .p-slider-handle {
  background: #991b1b;
  border: 2px solid #991b1b;
  height: 0.75rem;
  width: 0.75rem;
  margin-top: -0.375rem;
}

.p-slider .p-slider-range {
  background: #991b1b;
}

.p-inputtext {
  padding: 0.25rem;
  font-size: 0.875rem;
}

.p-slider {
  height: 0.25rem;
}

.p-slider .p-slider-handle:hover {
  background: #ff3333;
  border-color: #ff3333;
}

.p-slider-handle {
  background: #991b1b;
  width: 15px;  /* Smaller width */
  height: 15px; /* Smaller height */
  border-radius: 50%; /* Keeps it circular, adjust if necessary */
}

.DataLayer {
  /* Adjust width, margin, padding, etc., here to fit content */
  width: 100%;
  box-sizing: border-box; /* Include padding and border in the width */
}

input, .p-slider {
  width: 100%; /* Ensure slider and input text use up only available space */
  box-sizing: border-box;
}

/* Reduce overall size and spacing */
.DataLayer h1, .DataLayer label, .DataLayer .p-slider {
  margin-bottom: 8px; /* Smaller bottom margin */
}
.custom-inputnumber {
  display: flex;
  align-items: center;
  height: 24px;
  overflow: hidden;
  width: 100px;
}

.custom-inputnumber .p-inputnumber-input {
  flex-grow: 1;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 0 5px;
  height: 100%;
}

.custom-inputnumber .p-inputnumber-button {
  width: 20px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-inputnumber .p-inputnumber-button.p-button.p-button-danger {
  border: none;
  color: #991b1b;
  background-color: transparent;
}

.custom-inputnumber .p-inputnumber-button .p-button-label {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.custom-inputnumber .p-inputtext {
  width: calc(100% - 40px);
  min-width: 30px;
}

/* Additional styles for the new layout */
.bg-gray-700 {
  background-color: #374151;
}

.bg-gray-100 {
  background-color: #f3f4f6;
}

.border-gray-200 {
  border-color: #e5e7eb;
}

/* Ensure scrollbars are visible on WebKit browsers */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}